<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quiz Game</title>
<<<<<<< HEAD:views/index.erb
	<link rel="stylesheet" href="index.css">
||||||| merged common ancestors
	<link rel="stylesheet" href="src/css/index.css">
=======
	<link rel="stylesheet" href="src/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
>>>>>>> ddd6adc958eff079caf7fe2cf460ee9cb0a39a90:index.html
</head>
<<<<<<< HEAD:views/index.erb
<body> 
	<div class="container">
  	<div id="main-area"></div>
||||||| merged common ancestors
<body>
	<div class="container">
  	<div id="main-area">
 
  	</div>
=======
<body>
	<div class="game-container">
  	<div id="main-area"></div>
>>>>>>> ddd6adc958eff079caf7fe2cf460ee9cb0a39a90:index.html
  	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="bundle.js"></script>
</div>
</body>
</html>